@mixin loading($thickness: 4px, $size: $space, $ease: 0.6s) {
  position: relative;
  &:before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: '';
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    @include transition-property(opacity);
    @include transition-duration($ease);
    z-index: 998;
  }
  &:after {
    animation: spin $ease linear infinite;
    border: $thickness solid rgba(0, 0, 0, 0.4);
    border-top: $thickness solid #FFF;
    border-radius: 50%;
    bottom: 0;
    content: '';
    height: $size;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: $size;
    z-index: 999;
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
