
.*
!.gitignore
!.pipeline-store.json
*.pyc
*.pyo
*.egg-info

node_modules
npm-debug.log
assets.json
.DS_Store

venv
.venv/

dist/*
!pipelines/api/app_dist/client/dist/bundle.min.js
bundle.min.js

!test/fixtures/workspace/sample-deploy/
test/fixtures/workspace/sample-deploy/*

/build/
/ws/

local.mk
