@mixin font-size($size: $regular) {
  font-size: $size + px;
  font-size: ($size/10) + rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $body;
  @include font-size($regular);
  font-size: $regular + px; // Because of Chrome bug (see https://code.google.com/p/chromium/issues/detail?id=319623)
  font-weight: normal;
  line-height: 160%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0 $space;
}

h1 {
  @include font-size($gigantic);
}

h2 {
  @include font-size($huge);
}

h3,
h4,
h5,
h6 {
  @include font-size($larger);
}
