html,
body,
#js-main,
#app {
  height: 100%;
}

body {
  background: $light;
}

.wrapper {
  @include clearfix;
  margin: 0 auto;
  max-width: $width;
  width: 92%;
}

.controls {
  float: right;
}

.icon {
  background: transparent;
  border: 0;
  line-height: 1;
  outline: none;
  padding: 0;
}

.svg {
  svg {
    display: block;
  }
}

.loading {
  @include loading;
}

.credit {
  color: $grey;
  display: block;
  margin-top: $space/4;
  text-align: center;
  a {
    color: $grey;
    text-decoration: underline;
    &:hover {
      color: $primary;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.black {
  color: black;
}
.red {
  color: red;
}

.green {
  color: green;
}
.brown {
  color: yellow;
}

.blue {
  color: blue;
}
.cyan {
  color: cyan;
}
.purple {
  color: purple;
}
.light-gray {
  color: gray;
}
.dark-gray {
  color: gray;
}
.light-red {
  color: red;
}
.light-green {
  color: green;
}
.yellow {
  color: yellow;
}
.light-blue {
  color: blue;
}
.dark-gray {
  color: gray;
}
.white {
  color: white;
}
.light-purple {
  color: purple;
}
.light-cyan {
  color: cyan;
}
