/* Egg Magic */

@import '_variables'; // Variables (colors, layout, spacing & typography)
@import '_defaults'; // Styling defaults
@import 'partials/_dropdown';
@import 'partials/_modal';
@import 'partials/_loading';
// @import 'partials/_notifications';

/* GENERAL */

$width: 800px;

.wrapper {
  margin: 0 auto;
  max-width: $width;
  text-align: left;
  width: 90%;
}

.controls {
  float: right;
}

.icon {
  background: transparent;
  border: 0;
  line-height: 1;
  outline: none;
  padding: 0;
}

.loading {
  @include loading;
}

.tabs {
  border-bottom: 1px solid $line;
  @include clearfix;
  @include font-size($small);
  letter-spacing: 1px;
  text-transform: uppercase;
  a {
    border-bottom: 2px solid transparent;
    color: $grey;
    float: left;
    margin-left: 1.5*$space;
    padding: $space/3 $space/2 ($space/3 - 2);
    &.active {
      border-color: $primary;
      color: #FFF;
    }
    &:hover {
      color: #FFF;
    }
  }
}

/* HEADER */

#header {
  border-bottom: 1px solid $line;
  @include clearfix;
  margin-bottom: $space;
  padding: $space 0 $space/2;
  h1 {
    @include font-size($larger);
    font-weight: bold;
    margin: 0;
    a {
      color: #FFF;
    }
  }
  .links {
    float: right;
    @include font-size($small);
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
      float: left;
      margin-left: $space;
      img {
        border-radius: $space;
        float: left;
        margin-right: $space/4;
        width: $space;
      }
    }
  }
}

#main {
  > .wrapper > .header {
    @include font-size($smaller);
    padding-bottom: $space/2;
    .search {
      border-radius: $space;
      padding: $space/8 $space/2;
    }
  }
  .item {
    margin-bottom: $space/2;
    &.active {
      .header {
        border-radius: $radius $radius 0 0;
      }
      .body {
        display: block;
      }
    }
    $loading_thickness: 1px;
    $loading_size: 38px;
    $img_size: 24px;
    &.running {
      .run,
      .run:hover {
        background: none;
        cursor: not-allowed;
        svg {
          fill: $primary;
        }
        &:after {
          animation: spin 3*$ease linear infinite;
          border: $loading_thickness solid $black;
          border-top: $loading_thickness solid $primary;
        }
      }
    }
    .run {
      float: left;
      height: $loading_size + 2*$loading_thickness;
      margin-right: $space/2;
      position: relative;
      @include tooltip(top, tint($light, 10%));
      width: $loading_size + 2*$loading_thickness;
      svg {
        fill: $grey;
        left: $loading_thickness + ($loading_size - $img_size)/2;
        position: absolute;
        top: $loading_thickness + ($loading_size - $img_size)/2;
      }
      &:after {
        border: $loading_thickness solid $grey;
        border-radius: 50%;
        bottom: 0;
        content: '';
        height: $loading_size;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: $loading_size;
        z-index: 999;
      }
      &:hover {
        &:after {
          border-color: #FFF;
        }
        svg {
          fill: #FFF;
        }
      }
    }
    .header {
      background: $light;
      border-radius: $radius;
      padding: $space/3;
      position: relative;
      @include transition-property(background);
      @include transition-duration($ease);
      h2 {
        font-size: inherit;
        margin: 0;
        & + small {
          @include font-size($small);
          opacity: 0.5;
        }
      }
      &:hover {
        background: tint($light, 7%);
        cursor: pointer;
        & + .body {
          border-color: tint($light, 7%);
        }
      }
    }
    .body {
      background: $black;
      border: 1px solid $line;
      border-top: 0;
      display: none;
      @include transition-property(border);
      @include transition-duration($ease);
      .console {
        color: #FFF;
        font-family: $code;
        @include font-size($small);
        line-height: 160%;
        margin: 0;
        max-height: 264px;
        overflow: auto;
        padding: $space/2 1.5*$space/2;
        position: relative;
        white-space: pre-line;
      }
      .toolbar {
        border-top: 1px solid $line;
        @include font-size($smaller);
        padding: $space/3;
        vertical-align: middle;
        a,
        .icon {
          color: $grey;
          svg {
            fill: $grey;
          }
          &:hover {
            color: #FFF;
            svg {
              fill: #FFF;
            }
          }
        }
        .dropdown .options {
          svg {
            float: right;
            margin-left: $space/6;
            width: $space/2;
          }
          .error {
            color: $red;
          }
          .ok {
            color: $green;
          }
        }
        > * {
          vertical-align: middle;
        }
        .icon {
          @include tooltip(top, tint($light, 5%));
        }
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
