<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pipelines Dashboard</title>
  </head>
  <body>
    <%- body %>
    
    <section id="js-main" class="content"></section>

    <% if (env.production) { %>
      <script async src="<%= env.assets.main2.js %>">1</script>
    <% } else { %>
      <script src="http://localhost:3000/client/bundle.js">2</script>
    <% } %>
  </body>
</html>
