@import 'bourbon/bourbon'; // Bourbon, hopefully this is the right path
@import 'egg/vendors/_normalize'; // Starting with sane defaults

/*** VARIABLES (colors, layout, spacing & typography) ***/

@import 'egg/_variables';

@import 'https://fonts.googleapis.com/css?family=Roboto';

$body: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headline: $body;

$black: #343c46;
$blue: #0A93FF;
$primary: $blue;
$secondary: $green;
$background: $black;
$background: #F4F4F4;

$width: 960px;


/*** MIXINS ***/

@import 'egg/modules/_font-size';
@import 'egg/modules/_button';
@import 'egg/modules/_responsive';
@import 'egg/modules/_arrow';
@import 'egg/modules/_tooltip';

/*** PARTIALS ***/

@import 'egg/partials/_base';
@import 'partials/_button';
@import 'egg/partials/_form';
@import 'partials/_list';


.wrapper {
  margin: 0 auto;
  max-width: $width;
  text-align: left;
  width: 90%;
}

body {
  color: #FFF;
}
