/* Colors */

$line: #CFD8DC;
$light: #ECEFF1;
$grey: #B0BEC5;
$black: #263238;
$blue: #2196F3;
$green: #4CAF50;
$red: #F44336;
$primary: $blue;
$white: #fff;

/* Misc */

$width: 800px;
$login: 288px;
$modal: 400px;

/* Partials */

$partials: (
  base,
  button,
  form,
  menu,
  tooltip
);